#intro {
  position: relative;
  padding: 3.5rem 0 3rem;
  background-color: #17333e;
  background-image: url('/img/intro-bg.jpg');
  background-position: center;
  background-size: cover;
  color: white;
  border-radius: 0;
}

#intro h1 {
  font-weight: normal;
}

@media (max-width: 399.98px) {
  #intro h1 {
    font-size: 1.6rem;
  }
}

@media (min-width: 400px) and (max-width: 767.98px) {
  #intro h1 {
    font-size: 2rem;
  }
}

@media (min-width: 768px) {
  #intro {
    padding: 6rem 0 7.5rem;
  }
}

@media (min-width: 1200px) {
  #intro h1 {
    font-size: 3.7rem;
  }

  #intro .lead {
    font-size: 1.6rem;
  }
}

#intro .text-muted {
  color: #6495a0 !important;
}

#intro .row {
  align-items: center;
}