.content {
  padding-top: .75rem;
  padding-bottom: 1.25rem;

  @include media-breakpoint-up(md) {
    padding-top: 1.5rem;
    padding-bottom: 2rem;
  }
}

h1,
.navbar-brand {
  font-family: Lusitana, Georgia, serif;
  font-weight: bold;
}

@include media-breakpoint-up(lg) {
  .collapse.uncollapse-lg {
    display: block;
    height: auto !important;
    visibility: visible;
  }
}

.table tr td:first-of-type {
  width: 30%;
}

.grid .col {
  margin-bottom: 15px;

  @include media-breakpoint-up(sm) {
    .grid .col {
      margin-bottom: 30px;
    }
  }
}

.card {
  transition: 0.5s;

  &:hover {
    box-shadow: 0 .125rem .75rem rgba(0, 0, 0, .15) !important;
  }

  a.card-body {
    color: #17333e;
  
    &:hover {
      text-decoration: none;
    }
  }
}

a.tile {
  display: block;
  padding: 1rem 1.25rem;
  background: #e8eeee;
  border-radius: $border-radius;
  color: inherit;
  transition: 0.5s;
  height: 100%;
}

a.tile:hover {
  text-decoration: none;
  box-shadow: 0 .125rem .75rem rgba(0,0,0,.15) !important;
  background: $white;
}
